<div class="sidenav">
    <div >
        <a  th:href="@{/}" style="padding-bottom: 0; padding-top:0 ; margin-left: 12px">
        </a>  
    </div>

    <div class="mheader">
        Investigacion
    </div>     
    <a th:href="@{/}">Agregar Investigacion</a>
    <br>
    <a th:href="@{/enq-list}">Lista de Investigaciones</a>
    
    <div class="mheader">
        <br>
        Instituto/Universidad
    </div>   

    <a th:href="@{/institute-form}">Agregar Instituto/U</a>
    <br>
    <a th:href="@{/institute-list}">Lista de Institutos/U</a>  
    
    <div class="mheader">
        <br>
        Informacion
    </div> 
    
    <a th:href="@{/sources}">Fuentes de Investigacion</a>
    <br>
    <a th:href="@{/courses}">Cursos</a> 
    
</div>